<div class="reset-page">
  <div class="reset-card">
    <h2>Reset Password</h2>

    <p class="subtitle">Enter your new password below.</p>

    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>

    <div *ngIf="message" class="success-message">
      {{ message }}
    </div>

    <form *ngIf="email && token" [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
      <app-form-field
        label="New Password"
        type="password"
        placeholder="Enter New Password"
        [control]="$any(resetPasswordForm.controls.newPassword)"
        errorMessage="Password must be at least 6 characters"
      >
      </app-form-field>

      <app-form-field
        label="Confirm Password"
        type="password"
        placeholder="Confirm Password"
        [control]="$any(resetPasswordForm.controls.confirmPassword)"
        errorMessage="Confirm Password is required"
      >
      </app-form-field>
      <div class="reset-button">
        <app-button
          [text]="loading ? 'Resetting...' : 'Reset Password'"
          type="submit"
          variant="primary"
          [disabled]="loading"
        >
        </app-button>
      </div>
    </form>
  </div>
</div>
