<div class="modal-backdrop" *ngIf="isOpen" (click)="closePopup()">
  <div class="modal-container" (click)="$event.stopPropagation()">
    <div class="modal-header">
      <h2>
        <i class="fa fa-lock"></i>
        Change Password
      </h2>

      <button type="button" class="close-btn" (click)="closePopup()">×</button>
    </div>

    <div class="modal-body">
      <form [formGroup]="passwordForm" (ngSubmit)="changePassword()">
        <app-form-field
          label="Current Password"
          type="password"
          placeholder="Enter Current Password"
          [control]="$any(passwordForm.controls['currentPassword'])"
          errorMessage="Current Password is required"
        >
        </app-form-field>
       <div
  class="password-error"
  *ngIf="passwordForm.get('currentPassword')?.touched">

  <span
    *ngIf="passwordForm.get('currentPassword')?.errors?.['incorrectPassword']">
    Current Password is incorrect.
  </span>

</div>
        <app-form-field
          label="New Password"
          type="password"
          placeholder="Enter New Password"
          [control]="$any(passwordForm.controls['newPassword'])"
          errorMessage="Password must be at least 6 characters"
        >
        </app-form-field>

        <app-form-field
          label="Confirm Password"
          type="password"
          placeholder="Confirm Password"
          [control]="$any(passwordForm.controls['confirmPassword'])"
          errorMessage="Confirm Password is required"
        >
        </app-form-field>

        <!-- <div
          class="password-error"
          *ngIf="
            passwordForm.controls['confirmPassword'].touched &&
            passwordForm.controls['confirmPassword'].value &&
            passwordForm.controls['newPassword'].value !==
              passwordForm.controls['confirmPassword'].value
          "
        >
          New Password and Confirm Password do not match.
        </div>
        <div class="password-error" *ngIf="newPasswordError">
  {{ newPasswordError }}
</div> -->
<div class="password-error" *ngIf="confirmPasswordError">
  {{ confirmPasswordError }}
</div>

        <div class="button-actions">
          <app-button
            text="Cancel"
            type="button"
            variant="secondary"
            [disabled]="isSubmitting"
            (buttonClick)="closePopup()"
          >
          </app-button>

          <app-button
            [text]="isSubmitting ? 'Changing...' : 'Change Password'"
            type="submit"
            variant="primary"
            [disabled]="isSubmitting"
          >
          </app-button>
        </div>
      </form>
    </div>
  </div>
</div>

<app-toast [visible]="toastVisible" [message]="toastMessage" [type]="toastType"> </app-toast>
