<div class="dynamic-form" [formGroup]="form">
  <div class="form-field" *ngFor="let field of fields">
    <!-- LABEL -->

    <label>
      {{ field.label }}

      <span class="required" *ngIf="field.required"> * </span>
    </label>

    <!-- NORMAL INPUT -->

    <!-- NORMAL INPUT -->

    <div class="input-wrapper" *ngIf="field.type !== 'select'">
      <input
        [type]="getInputType(field)"
        [formControlName]="field.name"
        [placeholder]="field.placeholder || ''"
        [attr.maxlength]="field.maxLength || null"
        (input)="onFieldChange(field)"
      />

      <!-- PASSWORD EYE ICON -->

      <button
        *ngIf="field.type === 'password'"
        type="button"
        class="password-toggle"
        (click)="togglePasswordVisibility(field.name)"
      >
        <i class="bi" [ngClass]="passwordVisibility[field.name] ? 'bi-eye-slash' : 'bi-eye'"> </i>
      </button>
    </div>

    <!-- SELECT -->

    <select
      *ngIf="field.type === 'select'"
      [formControlName]="field.name"
      (change)="onFieldChange(field)"
    >
      <option value="">
        {{ field.placeholder || 'Select ' + field.label }}
      </option>

      <option *ngFor="let option of field.options" [value]="option">
        {{ option }}
      </option>
    </select>

    <!-- VALIDATION ERROR -->

    <div class="error" *ngIf="getControl(field.name).invalid && getControl(field.name).touched">
      {{ field.errorMessage || field.label + ' is required.' }}
    </div>
  </div>
</div>
