<div class="form-group">
  <label>{{ label }}</label>

  <div class="input-wrapper">

    <select
      *ngIf="type === 'select'; else inputField"
      [formControl]="control"
      [class.invalid]="control.invalid && control.touched">

      <option value="" disabled>
        {{ placeholder }}
      </option>

      <option *ngFor="let option of options" [value]="option">
        {{ option }}
      </option>

    </select>

    <ng-template #inputField>

      <input
        [type]="inputType"
        [placeholder]="placeholder"
        [formControl]="control"
        [readonly]="readonly"
        [attr.maxlength]="maxlength"
        [attr.inputmode]="numbersOnly ? 'numeric' : null"
        (input)="onInput($event)"
        [class.invalid]="control.invalid && control.touched" />

      <i
        *ngIf="type === 'password'"
        class="fa password-icon"
        [class.fa-eye]="!showPassword"
        [class.fa-eye-slash]="showPassword"
        (click)="togglePassword()">
      </i>

    </ng-template>

  </div>

  <!-- Required -->
  <small
    class="error-message"
    *ngIf="control.touched && control.hasError('required')">

    {{ label }} is required.

  </small>

  <!-- Min Length -->
  <small
    class="error-message"
    *ngIf="control.touched && control.hasError('minlength')">

    Password must be at least 6 characters.

  </small>

  <!-- Incorrect Password
  <small
    class="error-message"
    *ngIf="control.touched && control.hasError('incorrectPassword')">

    Current Password is incorrect.

  </small> -->

</div>